/* styles.css */
*,
*::before,
*::after {
	box-sizing: border-box;
}
main {
	margin: 0 auto;
	background-color: #ECDF9E;
	color: #090909;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.05rem;
	text-align: justify;
}
#email {
	padding: 50px;
	margin-top: 50px;
	width: 500px;
	border: 2px solid black;
}
.blurred {
	 filter: blur(3px);
 }
#confidential,
 #top-secret {
	 display: inline-block;
	 padding: 5px;
	 margin-left: 100px;
	 color:#FF0000;
	 font-weight: bold;
	 border: 2px solid #FF0000;
	 text-align: center;
	 
 }
 #confidential {
	 transform: rotate(-15deg) scale(1.3, 1.3) translate(70px,10px);
	 margin-top: 10px;
	 margin-bottom: 10px;
	 /*
	 font-size: 1.6rem;
	 transform: rotate(-30deg);
	 width: 280px;
	 height: 80px;
	 margin-top: 40px;
	 */
 }
 #top-secret {
	 transform: rotate(15deg) scale(1.3, 1.3) translate(60px, 10px);
	 margin-top: 0;
	 margin-bottom: 40px;
 }
