/* styles.css */
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

#main {
	background-color: #ccc;
	border-radius: 8px;
	width: 90vw;
	margin: 40px auto;
	padding: 5px;
}
#title,
h2,
#title + p {
	text-align: center;
}
h1 {
	margin-top: 40px;
	color: #333;
}
#title + p {
	margin: 20px 0 10px;
}
#img-div {
	text-align: center;
}
#image {
	display: block;
	max-width: 100%;
	height: auto;
	padding: 10px;
}
#img-caption p{
	margin: 15px 0 10px 0;
}
#tribute-info h2 {
	margin: 50px 0;
}
#tribute-info {
	margin-left: 100px;
}
strong {
	margin-left: -10px;
}
#tribute-info ul {
	list-style-position: inside;
}
ul li {
	margin: 10px;
	padding: 20px;
}
blockquote {
	text-align: start;
	margin-left: 20px;
	font-size: 24px;
	margin-top: 50px;
}
#tribute-info h3 {
	width: 550px;
	margin-left: -40px;
	margin-top: 100px;
	margin-bottom: 100px;
	
}
#tribute-link {
	display: inline-block;
	text-decoration: none;
	color: blue;
	margin-left: 150px;
	margin-top: 20px;

}



