/* styles.css */
*,
*::before,
*::after {
	box-sizing: border-box;
}
h1 {
	margin: 50px 0 30px 10px;
	font-weight: bold;
	letter-spacing: 0.1em;
}
th {
	background-image: linear-gradient(#d3d3d3 80%, #e4e4e4);
	text-align: center;
	padding: 0.5rem;
	width: 15%;
	font-family: sans-serif;
	font-size: 1.5rem;
	font-weight: bold;
}
tr[class="in-progress"] {
	background-image: linear-gradient(#FFFF00 10%, #FFCC00);
}

tr[class="read"] {
	background-image: linear-gradient(#6633FF 80%, 	#3399CC);
}
tr[class="to-read"] {
	background-image: linear-gradient(#996600 10%, #FF0000);
}
body {
	margin-left: 10px;
}
span {
	display: inline-block;
}
table {
	border-collapse: collapse;
	width: 90%;
	text-align: center;
	font-size: 1.35rem;
	vertical-align: center;
}
tr[class="to-read"] span[class="status"] {
	border: 1px solid black;
	background-image: linear-gradient(#ff0000, #ff3333);
}
tr[class="read"] span[class="status"] {
	border: 1px solid black;
	background-image: linear-gradient(#6633FF, #6633ee);
}
tr[class="in-progress"] span[class="status"] {
	border: 1px solid black;
	background-image: linear-gradient(#FFFF00, #ffff33);
}
span[class="status"], span[class^="rate"] {
	width: 100%;
	height: 10%;
	padding: 6px;
}
span[class^="rate"] > span {
	height: 25px;
	width: 25px;
	border-radius: 50%;
	border: 2px solid #333;
	margin: 0.4rem;
	background-color: #f3f3f3;
}
span[class~="three"] span {
	background-image: linear-gradient(#ffff00, #ffff33);
}
span[class~="two"] span:nth-child(-n+2) {
	background-image: linear-gradient(#ffff00, #ffff33);
}
span[class~="one"] span:first-child {
	background-image: linear-gradient(#ffff00, #ffff33);
}
tbody td span[class="status"] {
	border-radius: 60px;
	font-size: 1.35rem;
	width: 50%;
	
}



