/* styles.css */
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--color0: #fff;
	--color1: #cdfecd;
	--color2: #9cfc9c;
	--color3: #51fb51;
	--color4: #05c705;
	--color5: #037c03;
	--solid-border: 1px solid #000;
	--dashed-border: 1px dashed #000;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 100px;
	gap: 80px;
}

table {
	border-collapse: collapse;
	border: none;
	font-size: 1.1rem;
	width: 500px;
	empty-cells: hide;
}

td {
	padding: 8px 15px;
	width: 100px;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	
}
tbody tr:first-of-type td {
	border: none;
	border-bottom: 1px solid black;
}

tbody tr:last-of-type td {
	border: none;
}

tbody th {
	width: 70px;
	vertical-align: middle;
}

thead tr.sharp  {
	color: #000;
}


.half td{
	border-bottom: var(--dashed-border);
	
}

.sharp td{
	border-bottom: var(--solid-border);
}

.available-5 {
	background-color: var(--color5);
}
.available-4 {
	background-color: var(--color4);
}
.available-3 {
	background-color: var(--color3);
}
.available-2 {
	background-color: var(--color2);
}
.available-1 {
	background-color: var(--color1);
}
.available-0 {
	background-color: var(--color0);
}

#legend-gradient {
	height: 20px;
	width: 300px;
	border: 1px solid #000;
  background: linear-gradient(
    to right,
    var(--color0) 0%, var(--color0) 17%,
    var(--color1) 17%, var(--color1) 34%,
    var(--color2) 34%, var(--color2) 51%,
    var(--color3) 51%, var(--color3) 68%,
    var(--color4) 68%, var(--color4) 85%,
    var(--color5) 85%, var(--color5) 100%
  );
}