/* styles.css */
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background-color: #fff;
	display: flex;
	font-family: Arial, sans-serif;
}
#navbar header{
	font-size: 2rem;
	margin-bottom: 20px;
	font-weight: 700;
}
#navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 250px;
	height: 100vh;
	background: white;
	border-right: 2px solid #ccc;
	padding: 20px;
	overflow-y: auto;
}

#navbar .nav-link {
	display: block;
	text-decoration: none;
	padding: 10px 0;
	border-top: 1px solid #d3d3d3;
	font-size: 1.35rem;
	font-weight: 500;
	color: #030303;
}
#main-doc {
	margin-left: 250px;
	margin-right: 50px;
	padding: 20px;
	width: calc(100% - 250px);
	color: #636363;
	line-height: 1.5;
}
.main-section header {
	font-size: 2rem;
	font-weight: 600;
	margin: 30px 0;
	color: #030303;
}
.main-section p {
	margin-left: 10px;
}
.main-section ul {
	margin-top: 20px;
	margin-left: 60px;
}
.main-section code {
	background-color: #f3f3f3;
}

