/* styles.css */
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	background-color: #f7f7f7;
}
body {
	display: flex;
	max-width: 100vw;
	font-family: Arial, "Open sans", sans-serif;
}
@media (max-width: 640px) {
	body {
		flex-wrap: wrap;
	}
}
@media (min-width: 641px) and (max-width: 1024px) {
	.main-section {
	}
}
#navbar {
	width: 20vw;
	border: 6px solid #939393;
	border-bottom: transparent;
	
}
#main-doc {
	width: 60vw;
}
#navbar header {
	font-size: 2rem;
	font-weight: 700px;
	color: #000;
	margin: 50px 0 10px 0;
	border-bottom: 4px solid #939393;
	padding: 40px;
}
#navbar li {
	font-size: 1.45rem;
	margin: 20px 0 20px 0;
	padding: 30px 0 30px 10px;
	border-bottom: 4px solid #939393;
}
a {
	text-decoration: none;
	color: #4d4e53;
}
#main-doc {
	padding-left: 30px;
}



