/* styles.css */
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
        scroll-behavior: smooth;
}

body {
	background-color: #fff;
	font-family: Arial, sans-serif;
}
.container {
	position: relative;
	height: auto;
	margin: 20px 10px;
}
@media(min-width: 641px) {
	#navbar {
		position: fixed;
		top: 20px;
		left: 10px;
		width: 300px;
		height: 100vh;
		border-right: 1px solid #ccc;
	}
	#main-doc {
		margin-left: 300px;
		padding: 20px;
		width: 900px;
	}
}
#navbar header {
	font-size: 2rem;
	font-weight: 700;
	padding-bottom: 20px;
	border-bottom: 1px solid #ccc;
}
#navbar .nav-link{
	border-bottom: 1px solid #ccc;
	display: block;
	width: 100%;
	font-size: 1.5rem;
	padding: 10px 0;
}

a {
	text-decoration: none;
	color: #030303;
}
#main-doc {
	color: #636363;
	line-height: 1.5;
	font-size: 1.05rem;
 }
.main-section header {
	font-size: 2rem;
	font-weight: 600;
	color: #030303;
}
.main-section p {
	margin: 30px 0 ;
}
.main-section ul {
	margin: 20px 0 20px 60px;
	padding:30px 0;
}
.main-section pre {
	background-color: #f3f3f3;
	display: block;
	padding: 10px;
	border-radius: 2px;
	font-weight: 500;
	color: #434343;
	font-size: 1rem;
	white-space: pre-wrap;
}
.main-section a {
	font-size: 0.7rem;
}
.main-section a:hover {
	color: #cc3456;
}
#reference.main-section p {
	margin-bottom: 0;
}
.main-section#reference ul {
	margin-top: 0;
	padding-top: 0;
	list-style-type: none;
}
#reference header,
#special-variables header,
#shell-variables header {
	margin-top: 30px;
}








